{% include 'partials/header.html' %}


<header id="header">
    {% include 'partials/nav.html' %}

    <div class="cards">
        <div class="card">
            <h3 class="card__heading">User Features</h3>
<!--            <p class="card__paragraph">Start by logging in to unlock saving and viewing recent detection results.</p>-->
            <p class="card__paragraph">
                Once logged in, History page can be accessed from navigation bar.
                Logged-in users detections are saved and can be accessed from the History page.
                <div class="card__history-fake-btn">
                    History
                </div>
            </p>
        </div>
        <div class="card">
            <h3 class="card__heading uppercase">Important Note</h3>
            <p class="card__paragraph">
                Autism is a complex neurodevelopmental disorder that cannot be diagnosed solely based on facial morphology features. Therefore, it's important to use this tool as a screening tool rather than a diagnostic tool
            </p>
        </div>
        <div class="card">
            <h3 class="card__heading">Efficiency</h3>
            <p class="card__paragraph">
                For higher accuracy detection users should use high quality images, with child face centered and cropped.
            </p>
            <div class="card__ex"><i class="fa-regular fa-face-grin"></i></div>
        </div>
    </div>

</header>




{% include 'partials/footer.html' %}