{% include 'partials/header.html' %}


<header id="header">
    {% include 'partials/nav.html' %}

    <div class="cards">
        <div class="card">
            <h3 class="card__heading">Step 1</h3>
            <p class="card__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
<!--            <img src="static/images/card-bg.png" alt="Card" class="card__image">-->
        </div>
        <div class="card">
            <h3 class="card__heading">Step 2</h3>
            <p class="card__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
<!--            <img src="#" alt="Card" class="card__image">-->
        </div>
        <div class="card">
            <h3 class="card__heading">Step 3</h3>
            <p class="card__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
<!--            <img src="#" alt="Card" class="card__image">-->
        </div>
    </div>

</header>




{% include 'partials/footer.html' %}