<nav class="nav">

        <ul class="nav__list">
<!--            <li class="nav__item active"><a href="#" class="nav__link">Home</a></li>-->
            <li class="nav__item"><a href="#" class="nav__link">Team</a></li>
            <li class="nav__item"><a href="#" class="nav__link">How it works</a></li>
            <div class="nav__logo">
             <i class="fa-solid fa-stethoscope fa-2x"></i>
                <p><span>Gad</span>Grad</p>
            </div>
            <li class="nav__item"><a href="{{ url_for('login') }}" class="nav__link border">Login</a></li>
            <li class="nav__item"><a href="{{ url_for('register') }}" class="nav__link border">Register</a></li>
        </ul>
    </nav>