

.wrapper {
    width: 100rem;
    height: auto;
    border-radius: var(--border-radius);
    background-color: #eee;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .2);
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
    justify-items: center;
    background-image: url("../images/bg.png");
}



.form__box-image {

    background-image:
        linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("https://images.pexels.com/photos/8378752/pexels-photo-8378752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: bottom;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
    color: #eee;
    border-radius: inherit;
    position: relative;
    width: 100%;
}

.form__text {
    font-weight: 100;
}

.form__text-p {

    font-size: 1.5rem;
}

.signup-btn {

    border: .2rem solid #eee;
    background-color: transparent;
    margin-top: auto;
    border-radius: 5;


}

.form {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0rem;
    color: var(--form-text-color);
    width: 60%;

}

.form__icon {

    font-size: 3rem;
}

.form > * {
    text-align: center;

}

.form__paragraph {

    margin-bottom: 5rem;
}


.form__label {
    color: var(--color-text-shaded);
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
}

.form__input {

    padding: 1rem 2rem 1rem 1rem;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    font-size: 1.8rem;
    background-color: #fff;
    text-align: left;
    border-radius: var(--border-radius);
    color: currentColor;
    transition: all .3s;

    position: relative;

}

.form__input:focus {

    border-bottom-color: #85b971;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
}

.form__input:focus:invalid {
    border-bottom-color: #e98721;
}

.forget {
    text-align: right;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text-shaded);
    margin-bottom: 2rem;
}

.form-btn {
    font-size: 1.4rem;
    letter-spacing: 1;
    transition: all .2s;
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--back-color);
    transform: translateY(-2px);
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .3);
}


/* SIGNUP */

.form-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #845d68;
    border-radius: inherit;
    padding: 2rem;
    color: #eee;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .4)),
        url("../images/reg.jpg");
    background-size: cover;
    background-position: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}


.signup__logo {

    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.signup__logo > p > span {

    color: var(--form-text-color);
    filter: brightness(200%);
}

.signin__logo {

    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.signin__logo > p > span {

    color: #47af75;
}


.name {

    display: flex;
    gap: 2rem;

}

.form-signup {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--form-text-color);
    padding: 5rem;


}

.form__label-signup {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}

::placeholder {

    color: rgba(51, 51, 51, .3);
    font-size: 1.5rem;
}

.gender {
    display: flex;
    gap: 2rem;
}
.form__input-gender {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.8rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    color: currentColor;
    transition: all .1s;
    user-select: none;
    gap: 1rem;
    cursor: pointer;
    position: relative;
}

.form__input-gender.checked {
    border-color: var(--form-text-color);
    background-color: rgba(18, 85, 107, .4);
    color: #fff;
}

.form__input-radio-signup:checked + .radio-label .button {

    background-color: currentColor;
}

.form__input-radio-signup:checked + .radio-label {
    border-color: var(--form-text-color);
    background-color: rgba(18, 85, 107, .4);
}

.radio-label {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.8rem;
    border: 1px solid transparent;
}
.button {
    border-radius: 50%;
    width: 1rem;
    aspect-ratio: 1;
    background-color: transparent;
    outline: 3px solid currentColor;
    outline-offset: 3px;
}


