.flashes {

    position: absolute;
    top: -4rem;
    left: 50%;
    z-index: 950;
    transform: translateX(-50%);
    list-style: none;

}

.flashes li {

    color: #d4a7da;

}

.flashes li span {
    font-weight: 700;
    font-size: larger;
}

.ref {
    position: relative;
}

